.contact {
  margin-top: 3rem;
  position: relative;

  &__content {
    width: 80%;
    margin: 2rem auto;
    padding: 1rem 0;
    justify-content: space-between;
    display: grid;
    place-content: center;
  }
}
