// ### BACKGROUND-COLORS ### //
///
$-bg: #0e0e14;

// ### COLORS ### //
///
$clr-primary-1: #ffffff4b;
$clr-white: #ffff;
$clr-black: #000;

// ### TRANSITION ### //
///
$transition: all 0.3s linear;
